data/samples/onix_samples/onix.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="ONIX">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Product" minOccurs="1" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="PublishingDetail">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="PublishingDate" type="xs:string" />
                    <xs:element name="Territory" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="DescriptiveDetail">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="ProductForm" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>